* {
  direction: ltr;
}

.mobile_links li a button svg {
  width: 50px !important;

}

.mobile_links li a button span {
  border-radius: 0;
  border-left: 8px solid #212529;
  border-right: 0px;
  width: calc(100% - 60px);
  max-width: calc(100% - 60px);
}

.title {
  text-transform: capitalize;
}

.landing {
  .info {
    line-height: 1.5;
    text-shadow: 0 0 10px black;
  }
}

.principle {
  .principle-item {
    border: none;
    border-left: 2px solid rgb(160, 213, 93);
    padding-left: 10px;
  }
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-140px * 12));
  }
}