@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

/* font-family: "Cairo", sans-serif; */

:root {
    --my_primary: #A2D65E;
    --my_active: #5d7d33;
    --my_dark_1: #000000;
    --my_dark_2: #005164;
    --my_dark_3: #457F8C;

    --my_caption: #777777;
    --my_lite: #BFFBFF;
    --my_white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Cairo", sans-serif;
    direction: rtl;
}

.my_container {
    width: 100%;
    margin: auto;
    display: block;
    overflow: hidden;
}

@media (min-width:567px) {
    .my_container {
        width: 540px;
    }
}

@media (min-width:768px) {
    .my_container {
        width: 720px;
    }
}

@media (min-width:992px) {
    .my_container {
        width: 960px;
    }
}

@media (min-width:1200px) {
    .my_container {
        width: 1140px;
    }
}

@media (min-width:1400px) {
    .my_container {
        width: 1320px;
    }
}

.menu_links {
    display: block;
}

.menu_phone {
    display: none !important;
}

@media (max-width:768px) {
    .menu_links {
        display: none !important;
    }

    .menu_phone {
        display: block !important;
    }
}



a {
    text-decoration: none;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.title_1 {
    font-family: "Cairo", sans-serif;
    font-size: 103px;
    font-weight: 300;
    Letter-spacing: -1.5px;
}

@media (max-width:992px) {
    .title_1 {
        font-size: 90px;
    }
}

@media (max-width:767px) {
    .title_1 {
        font-size: 70px;
    }
}

.title_2 {
    font-family: "Cairo", sans-serif;
    font-size: 64px;
    font-weight: 300;
    Letter-spacing: -0.5px;
}

@media (max-width:992px) {
    .title_2 {
        font-size: 54px;
    }
}

@media (max-width:767px) {
    .title_2 {
        font-size: 45px;
    }
}


.title_3 {
    font-family: "Cairo", sans-serif;
    font-size: 51px;
    font-weight: normal;
    Letter-spacing: -0.5px;
}

.title_4 {
    font-family: "Cairo", sans-serif;
    font-size: 36px;
    font-weight: normal;
    Letter-spacing: 0.25px;
}

.title_5 {
    font-family: "Cairo", sans-serif;
    font-size: 26px;
    font-weight: normal;
    Letter-spacing: 0.25px;
}

.title_6 {
    font-family: "Cairo", sans-serif;
    font-size: 18px;
    font-weight: normal;
    Letter-spacing: 0.25px;
}

@media (max-width:992px) {
    .title_6 {
        font-size: 16px;
    }
}

@media (max-width:767px) {
    .title_6 {
        font-size: 14px;
    }
}

.body_1 {
    font-family: "Cairo", sans-serif;
    font-size: 17px;
    font-weight: normal;
    Letter-spacing: 0.5px;
}

.body_2 {
    font-family: "Cairo", sans-serif;
    font-size: 15px;
    font-weight: normal;
    Letter-spacing: 0.25px;
}

.button_1 {
    font-family: "Cairo", sans-serif;
    font-size: 15px;
    font-weight: 600;
    Letter-spacing: 1.25px;
}

.caption_1 {
    font-family: "Cairo", sans-serif;
    font-size: 13px;
    font-weight: 600;
    Letter-spacing: 0.4px;
}